<nav class="pages fixedImportant productImage">
    <a translate="HOME" href="/#"></a>
    <a href
       ng-click="redirect('/category/' + breadCrumbCategoryName + '/' + product.categoryId)"> {{categoryName}} </a>
    <a class="select">{{::product.productName | uppercase}}</a>
</nav>

<section>
    <article class="max-width ">


        <!-- mobile description section  -->

        <div id="mobileDescription" class="screen480">
            <h1 class="roboto-regular"> {{::product.productName | uppercase}} </h1>

            <h2 class="roboto-thin"> {{::product.price | currency:'$'}}
                <span class="roboto-medium" data-ng-show="product.productStatus == 'OutOfStock'" translate="SOUL_OUT"></span>
            </h2>
        </div>

        <!-- end mobile description section -->


        <!-- image section -->

        <div id="product_2">
            <div id="product-section" class="half">

                <div class="reviews" ng-if="mostPopularComments.length > 0">
                    <div class="rightArrow">
                        <img src="../../css/images/review_right.png" data-ng-click="nextReview()" />
                    </div>
                    <div class="reviewsCover">
                        <div data-ng-repeat="comment in mostPopularComments track by $index">
                            <p class="score roboto-regular">{{comment.score}}</p>
                            <label class="reviewsTitle roboto-medium">{{comment.title}}</label>
                            <p class="reviewsCount roboto-regular">{{comment.reviewsCount}} {{ 'reviews'| translate}}</p>
                            <p class="reviewsComment roboto-light">{{comment.comment}}</p>
                            <div class="reviewBottom roboto-regular">
                                <img src="../../css/images/reviewUser.png"/>
                                {{comment.name}}
                            </div>
                        </div>
                    </div>

                    <div class="leftArrow">
                        <img src="../../css/images/review_Left_disabled.png" data-ng-click="previousReview()" />
                    </div>
                </div>



                <figure>
                    <img alt="" id="mainImg" ng-src="/catalog/fetchImage?image_id={{imageUrl | getImageId}}">
                </figure>
                <div id="coverImages" ng-show="imagesArray.length > 1">
                    <div id="lengthAllImages"> <!--regular font-->
                        <div class="imageAlias" data-ng-click="changeImage(img)"
                             data-ng-repeat="img in imagesArray">
                            <img alt="" data-ng-src="/catalog/fetchImage?image_id={{img | getImageId}}">
                        </div>
                    </div>
                </div>
            </div>
            <div id="Description" class="half">
                <h1 class="roboto-regular screen768"> {{::product.productName | uppercase}} </h1>

                <h2 class="roboto-thin screen768"> {{::product.price | currency:'$'}}
                <span class="roboto-medium" data-ng-show="product.productStatus == 'OutOfStock'" translate="SOUL_OUT"></span>
                </h2>

                <p class="roboto-light"> {{::product.description }} </p>

                <div id="productProperties">
                    <div class="colors" ng-if="product.colors.length > 0">
                        <h2 translate="Color" class="Colors roboto-light" class="roboto-light"></h2>
                        <!--If you are confused by the classes 'bunny rabbit' read this->-->
                        <!--Testing issue over here. Since there are two identical elements here  'leanFT ' gets confused, this is the reason for this classes.-->
                        <div ng-show="!firstImageToShow">
                            <span title="{{color.name}}"
                                  id="rabbit"
                                  data-ng-repeat="color in [] | sortArrayByColorName:product.colors"
                                  class="rabbit productColor"
                                  data-ng-hide="color.code == 'ABCDEF'" data-ng-style="color.code == 'FFFFFF' ?
                                          {'backgroundColor': '#' + color.code, 'border': 'solid 1px #9d9d9d' } :
                                          {'backgroundColor': '#' + color.code, 'border': 'solid 1px transparent'}"
                                  data-ng-class='{ colorSelected : colorSelected.name == color.name , {{color.name}} : colorSelected.name} '
                                  data-ng-click="setColor(color)">
                            </span>
                        </div>
                        <div ng-show="firstImageToShow">
                            <span title="{{color.name}}"
                                  id="bunny"
                                  data-ng-repeat="color in colors"
                                  class="bunny productColor"
                                  data-ng-hide="color.code == 'ABCDEF'" data-ng-style="color.code == 'FFFFFF' ?
                                          {'backgroundColor': '#' + color.code, 'border': 'solid 1px #9d9d9d' } :
                                          {'backgroundColor': '#' + color.code, 'border': 'solid 1px transparent'}"
                                  data-ng-class='{ colorSelected : colorSelected.name == color.name , {{color.name}} : colorSelected.name} '
                                  data-ng-click="setColor(color, $event)">
                            </span>
                        </div>
                    </div>
                    <div class="smoolMargin">
                        <label class="Quantity roboto-light" translate="Quantity:"></label>
                        <e-sec-plus-minus num-attr="quantity" a-disable="product.productStatus == 'OutOfStock'"></e-sec-plus-minus>
                    </div>
                    <div class="fixedBtn">
                        <button name="save_to_cart" class="roboto-medium" role="button"
                                data-ng-class='{ disable : product.productStatus == "OutOfStock" } '
                                translate="ADD_TO_CART"
                                data-ng-click="addToCart(product.productStatus == 'OutOfStock')">
                            <div class="fixedBtn" data-ng-if="pageState != 'edit'">
                                <span translate="ADD_TO_CART"></span>
                            </div>
                            <div class="fixedBtn" data-ng-if="pageState == 'edit'">
                                <span translate="UPDATE_CART"></span>
                            </div>
                        </button>
                    </div>
                    <label data-ng-class="message._class"> {{message.text}}</label>
                </div>
            </div>
        </div>

    </article>
    <!--data-ng-class="{ topSpace : product.images.length > 1 }"-->
    <div id="separator"></div>

    <article ng-if="showVideo" class="max-width" data-ng-switch="haveInternet" >
        <div ng-bind-html="srcV1">
        </div>
    </article>

    <article class="max-width " >
        <h2 class="roboto-regular product_specifications" translate="PRODUCT_SPECIFICATIONS"></h2>

        <div class="roboto-light list" ng-repeat="attr in product_attributes">
            <label class="attr">{{ attr.attributeName | uppercase}}</label>
            <label class="value">{{ attr.attributeValue }}</label>
        </div>
    </article>

</section>


<social-media-drtv></social-media-drtv>

<div class="trickProductBtn"></div>










